.friendRequest {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .search {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .request {
    flex: 11;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgb(244, 244, 244);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(188, 188, 188, 0.5);
      border-radius: 20px;
      border: transparent;
    }

    ul {
      li {
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: rgb(252, 252, 252);
          cursor: pointer;
        }

        .image {
          flex: 1;
          display: flex;
          justify-content: center;
        }

        .info {
          flex: 2;
          padding-left: 20px;
          box-sizing: border-box;
        }

        .accept {
          flex: 1.2;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
