@use "../../../utils/mixins";

.button {
  font-size: 1rem;
  width: 16em;
  color: white;
  border: none;
  padding: 0.7em;
  border-radius: 0.8em;
  @include mixins.flex(center, center);

  &:hover {
    filter: brightness(120%);
    cursor: pointer;
  }

  &:active {
    filter: brightness(140%);
  }
}

.button1 {
  background: linear-gradient(45deg, #fc00c8, #0092ec);
}

.button2 {
  background: linear-gradient(45deg, #7a27e0, #5247ff);
}

.button3 {
  font-size: 1rem;
  // width: 5em;
  height: 100%;
  color: white;
  border: none;
  padding: 0 0.7em;
  border-radius: 0.4em;
  background: linear-gradient(45deg, #7a27e0, #5247ff);
  @include mixins.flex(center, center);

  &:hover {
    filter: brightness(120%);
    cursor: pointer;
  }

  &:active {
    filter: brightness(140%);
  }
}

.button4 {
  font-size: 0.9rem;
  max-width: 100%;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 0.4em;
  background: linear-gradient(45deg, #8d27e0, #8147ff);
  @include mixins.flex(center, center);

  &:hover {
    filter: brightness(120%);
    cursor: pointer;
  }

  &:active {
    filter: brightness(140%);
  }
}

.button4Clicked {
  font-size: 0.9rem;
  max-width: 100%;
  color: white;
  border: none;
  padding: 0.5em;
  border-radius: 0.4em;
  background: rgb(127, 127, 127);
  @include mixins.flex(center, center);
}
